# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [14]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keyss import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [15]:
# Store csv created in part one into a DataFrame
citys = pd.read_csv("cities.csv")
citys.dropna(inplace=True)
citys.head()

,Unnamed: 0,name,coord.lat,coord.lon,main.temp_max,main.humidity,clouds.all,wind.speed,sys.country,dt
0,0,Hithadhoo,-0.6000,73.0833,300.77,74.0,0.0,5.36,MV,1.611189e+09
1,1,Mizdah,31.4451,12.9801,280.08,60.0,0.0,2.70,LY,1.611189e+09
2,2,Departamento de Maldonado,-34.6667,-54.9167,294.82,83.0,20.0,5.14,UY,1.611189e+09
3,3,Inongo,-1.9500,18.2667,295.89,92.0,100.0,0.92,CD,1.611189e+09
4,4,Busselton,-33.6500,115.3333,294.82,76.0,0.0,1.34,AU,1.611189e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [16]:
gmaps.configure(api_key='AIzaSyCtWImgNtFMYAZhbEOynaG6LboEsDev_qg')

In [17]:
# Heatmap of humidity
locations = citys[["coord.lat", "coord.lon"]]
humidity = citys["main.humidity"]
fig = gmaps.figure()
heat = gmaps.heatmap_layer(locations, weights=humidity)
fig.add_layer(heat)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [22]:
new_citys = citys.loc[(citys["main.temp_max"] < 299.817) & (citys["main.temp_max"] > 294.261) & (citys["wind.speed"] < 10) & (citys["clouds.all"] == 0)]
new_citys

,Unnamed: 0,name,coord.lat,coord.lon,main.temp_max,main.humidity,clouds.all,wind.speed,sys.country,dt
4,4,Busselton,-33.6500,115.3333,294.82,76.0,0.0,1.34,AU,1.611189e+09
18,18,Rikitea,-23.1203,-134.9692,299.08,76.0,0.0,7.34,PF,1.611189e+09
23,23,Arraial do Cabo,-22.9661,-42.0278,297.15,88.0,0.0,7.20,BR,1.611189e+09
52,52,Kanhangad,12.3081,75.1063,296.02,71.0,0.0,2.26,IN,1.611189e+09
72,72,Mar del Plata,-38.0023,-57.5575,295.93,83.0,0.0,4.12,AR,1.611189e+09
73,73,Lázaro Cárdenas,17.9583,-102.2000,299.02,74.0,0.0,3.78,MX,1.611189e+09
76,76,Lompoc,34.6391,-120.4579,296.15,21.0,0.0,4.63,US,1.611189e+09
142,142,Payyanur,12.1000,75.2000,295.61,75.0,0.0,1.59,IN,1.611189e+09
143,143,Vila Velha,-20.3297,-40.2925,298.15,83.0,0.0,2.06,BR,1.611189e+09
219,219,Carnarvon,-24.8667,113.6333,299.15,83.0,0.0,8.23,AU,1.611189e+09
223,223,Yenagoa,4.9247,6.2642,297.83,90.0,0.0,1.65,NG,1.611189e+09
226,226,Port Blair,11.6667,92.7500,297.92,65.0,0.0,3.16,IN,1.611189e+09
259,259,Lagunillas,10.1301,-71.2595,299.77,72.0,0.0,1.96,VE,1.611189e+09
279,279,Pisco,-13.7000,-76.2167,295.15,78.0,0.0,8.75,PE,1.611189e+09
288,288,Ouro Sogui,15.6064,-13.3211,296.15,33.0,0.0,1.03,SN,1.611189e+09
290,290,Codrington,-38.2667,141.9667,299.39,33.0,0.0,1.74,AU,1.611189e+09
333,333,Rio Grande,-32.0350,-52.0986,295.93,81.0,0.0,0.89,BR,1.611189e+09
359,359,Batemans Bay,-35.7167,150.1833,295.93,62.0,0.0,4.92,AU,1.611189e+09
371,371,Flinders,-34.5833,150.8552,298.71,56.0,0.0,1.79,AU,1.611189e+09
426,426,Ouargaye,11.5033,0.0572,294.36,22.0,0.0,5.11,BF,1.611189e+09
451,451,Koutiala,12.3917,-5.4642,295.32,20.0,0.0,5.04,ML,1.611189e+09
471,471,Aden,12.7794,45.0367,297.40,69.0,0.0,5.43,YE,1.611189e+09
499,499,Montevideo,-34.8335,-56.1674,296.48,73.0,0.0,6.69,UY,1.611189e+09
518,518,Praia,14.9215,-23.5087,295.15,68.0,0.0,6.17,CV,1.611189e+09
525,525,Necochea,-38.5473,-58.7368,297.04,61.0,0.0,3.13,AR,1.611189e+09
583,583,San Isidro,-12.1167,-77.0500,295.15,78.0,0.0,7.20,PE,1.611189e+09
584,584,Kombissiri,12.0656,-1.3375,296.15,21.0,0.0,3.60,BF,1.611189e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [34]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates
hotel = new_citys[["name", "sys.country", "coord.lat", "coord.lon"]].copy()
hotel["Hotel_name"] = ""
hotel.rename(columns={'sys.country': 'country'}, inplace=True)
hotel

                name country  coord.lat  coord.lon Hotel_name
4          Busselton      AU   -33.6500   115.3333
18           Rikitea      PF   -23.1203  -134.9692
23   Arraial do Cabo      BR   -22.9661   -42.0278
52         Kanhangad      IN    12.3081    75.1063
72     Mar del Plata      AR   -38.0023   -57.5575
73   Lázaro Cárdenas      MX    17.9583  -102.2000
76            Lompoc      US    34.6391  -120.4579
142         Payyanur      IN    12.1000    75.2000
143       Vila Velha      BR   -20.3297   -40.2925
219        Carnarvon      AU   -24.8667   113.6333
223          Yenagoa      NG     4.9247     6.2642
226       Port Blair      IN    11.6667    92.7500
259       Lagunillas      VE    10.1301   -71.2595
279            Pisco      PE   -13.7000   -76.2167
288       Ouro Sogui      SN    15.6064   -13.3211
290       Codrington      AU   -38.2667   141.9667
333       Rio Grande      BR   -32.0350   -52.0986
359     Batemans Bay      AU   -35.7167   150.1833
371         Flinders      AU   -34.5833   150.8552
426         Ouargaye      BF    11.5033     0.0572
451         Koutiala      ML    12.3917    -5.4642
471             Aden      YE    12.7794    45.0367
499       Montevideo      UY   -34.8335   -56.1674
518            Praia      CV    14.9215   -23.5087
525         Necochea      AR   -38.5473   -58.7368
583       San Isidro      PE   -12.1167   -77.0500
584       Kombissiri      BF    12.0656    -1.3375

In [30]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel.iterrows():
    # get lat, lng from df
    lat = row["coord.lat"]
    lng = row["coord.lon"]
    params["location"] = f"{lat},{lng}"
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    result = requests.get(url, params=params)
    result = result.json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel.loc[index, "Hotel_name"] = result["results"][0]["name"]
    except:
        print("Error")

hotel

Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error
Error

                name sys.country  coord.lat  coord.lon Hotel_name
4          Busselton          AU   -33.6500   115.3333
18           Rikitea          PF   -23.1203  -134.9692
23   Arraial do Cabo          BR   -22.9661   -42.0278
52         Kanhangad          IN    12.3081    75.1063
72     Mar del Plata          AR   -38.0023   -57.5575
73   Lázaro Cárdenas          MX    17.9583  -102.2000
76            Lompoc          US    34.6391  -120.4579
142         Payyanur          IN    12.1000    75.2000
143       Vila Velha          BR   -20.3297   -40.2925
219        Carnarvon          AU   -24.8667   113.6333
223          Yenagoa          NG     4.9247     6.2642
226       Port Blair          IN    11.6667    92.7500
259       Lagunillas          VE    10.1301   -71.2595
279            Pisco          PE   -13.7000   -76.2167
288       Ouro Sogui          SN    15.6064   -13.3211
290       Codrington          AU   -38.2667   141.9667
333       Rio Grande          BR   -32.0350   -52.0986
359     Batemans Bay          AU   -35.7167   150.1833
371         Flinders          AU   -34.5833   150.8552
426         Ouargaye          BF    11.5033     0.0572
451         Koutiala          ML    12.3917    -5.4642
471             Aden          YE    12.7794    45.0367
499       Montevideo          UY   -34.8335   -56.1674
518            Praia          CV    14.9215   -23.5087
525         Necochea          AR   -38.5473   -58.7368
583       San Isidro          PE   -12.1167   -77.0500
584       Kombissiri          BF    12.0656    -1.3375

In [35]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel_name}</dd>
<dt>City</dt><dd>{name}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel.iterrows()]
locations = hotel[["coord.lat", "coord.lon"]]

In [37]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))